.header {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 100;

    background-color: #310557;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 200px;
    padding-bottom: 16px;
}

.formWrapper {
    display: flex;
    justify-content: center;
    margin: 0;
}

.form {
    display: flex;
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.form:hover {
    background-color: #cdeffc;
}

.input {
    flex: 1;
    padding: 6px 14px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
}

.input::placeholder {
    color: #b2afaf;
    font-style: italic;
}

.btnSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5325d3;
    padding: 8px 14px;
    transition: background-color 0.3s ease;
    border: none;
    /* border-radius: 12px; */
    border-radius: 12px 0 0 12px;

}

.btnSearch:hover {
    background-color: #9c6eff;
}

.icon {
    font-size: 20px;
    color: #fff;
}

.btnSearch:hover .icon {
    transform: scale(1.1);
}



@media screen and (min-width: 768px) {
    .header {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
    }

    .formWrapper {
        margin-top: 30px;
        margin-left: 30px;
    }

    .form {
        width: 350px;
    }

    .input {
        padding: 10px 16px;
        font-size: 16px;
    }

    .input::placeholder {
        color: #b2afaf;
        font-style: italic;
    }

    .btnSearch {
        padding: 12px 20px;
    }

    .icon {
        font-size: 26px;
    }

    .btnSearch:hover .icon {
        transform: scale(1.2);
    }
}